// layout - post
//

.post-bg {
  background-color: $light-green;
  padding-top: 150px;
  padding-bottom: 50px;
}

.post {
  @include container;
}

.post-form {
}

.post__headline {
  margin-bottom: 20px;
}

.post-form__content {
  box-shadow: 0 0 5px $black-30;
  border-radius: 5px;
  padding: 40px;
  margin-bottom: 100px;
  background-color: white;
  margin-bottom: 50px;
  border-radius: 10px;

  @media (max-width: $large) {
    padding: 20px;
  }

  input[type='text'] {
    border-color: $light-green-dark;
    border-radius: 10px;

    &.is-focused {
      border-color: $main-green;
    }

    &.is-errored {
      border-color: red;
    }

    &.is-filled {
      border-color: $main-green;
    }
  }
}

.post-form__row {
  margin-bottom: 20px;

  &.centered {
    @include flex-rw-c-c;
  }
}

// post payment
//

.post-payment__bg {
  background-color: $light-green;
  padding-top: 150px;
  padding-bottom: 50px;
}

.post-payment__wrapper {
  @include container;
}

.post-payment__header {
  margin-bottom: 20px;
}

.post-payment__back-button {
  margin-left: auto;
  margin-right: auto;
  color: $main-green;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;

  i {
    margin-right: 10px;
  }
}

.post-payment__content {
  box-shadow: 0 0 5px $black-30;
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  margin-bottom: 40px;

  @media (max-width: $large) {
    padding: 20px;
  }
}

.post-payment__total {
  margin-bottom: 50px;
  width: 100%;
  text-align: right;

  @media (max-width: $large) {
    text-align: center;
  }
}

.post-payment__button {
  @include flex-rw-c-c;
  margin-bottom: 75px;
}

.post-payment__card-icons {
  @include flex-rw-sb-c;
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-bottom: 30px;

  i {
    font-size: 50px;
    color: $black-30;
  }

  @media (max-width: $large) {
    width: 80%;

    i {
      font-size: 30px;
    }
  }
}

.post-payment__trust {
  @include flex-cl-c-c;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;

  @media (max-width: $large) {
    width: 80%;
  }
}

// STRIPE ELEMENTS
.StripeElement {
  border-radius: 10px;
  border: 1px solid $light-green-dark;
  padding: 10px 20px;
}
