# python files
*.pyc
__pycache__/
.pytest_cache/

# flask
.flaskenv
instance/

# react
node_modules/

# vscode files
.vscode/
*.code-workspace

# personal files
checklist.txt
notes.txt

# misc
.coverage
htmlcov/
build/
*.egg-info/
.DS_Store
