// styles - variables
//

$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-50: rgba(0, 0, 0, 0.5);
$black-70: rgba(0, 0, 0, 0.7);

$main-green: #1abc9c;
$main-green-dark: #149c80;
$main-green-light: #d6fff7;
$dark-gray: #1f1f1f;
$dark-gray-light: #272b2e;
$white-hover: #dbdbdb;
$white-hover-light: #f2f5f4;
$light-green: #f2f5f4;
$light-green-hover: #e3e6e5;

$light-gray: #f2f5f4;

$main-orange: #dd7949;
$main-orange-hover: #dd916d;

$large: 992px;
