// layout - Homepage
//

#particles-js {
  @include shadow-full;
  position: absolute;
  height: 600px;
  width: 100%;
  z-index: -1;
  background-color: $dark-gray;
}

.homepage-header {
  @include flex-cl-c-c;
  width: 100%;
  color: white;
  height: 600px;

  h1 {
    font-size: 75px;
  }

  p {
    margin-bottom: 40px;
  }

  .text-input {
    margin-bottom: 40px;
    max-width: 400px;
  }
}

.homepage-particles {
  width: 100%;
  background-color: black;
}

.homepage-contracts {
  @include container;
  padding-top: 50px;
  margin-bottom: 100px;

  h1 {
    margin-bottom: 20px;
  }
}
