body {
  margin: 0;
  font-family: avenir;
}

h1,
h2,
h3 {
  margin: 0;
}

#app {
  height: 100vh;
}

.main-green {
  color: #1abc9c;
}

.header__container {
  position: fixed;
  width: 100%;
}

.header {
  color: white;
}

.header-content__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

.button {
  display: block;
  padding: 15px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  color: white;
  background-color: #1abc9c;
  text-transform: uppercase;
  min-width: 200px;
}
.button:hover {
  background-color: #149c80;
}
.button.is-secondary {
  background-color: white;
  color: black;
}
.button.is-secondary:hover {
  background-color: #dbdbdb;
}
.button .indicator {
  position: absolute;
  left: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.button.is-mouse-down {
  transform: translateY(3px);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.button.is-mouse-up {
  transform: translateY(0px);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.button i {
  margin-right: 10px;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button-group button:first-child {
  margin-right: 10px;
}
.button-group button:nth-child(2) {
  margin-left: 10px;
}

.contract-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.1s ease;
  border: 1px solid #f2f5f4;
  width: 100%;
  padding: 20px 20px;
  box-sizing: border-box;
  background-color: #f2f5f4;
  border-radius: 3px;
}
.contract-card:hover {
  cursor: pointer;
  background-color: #e3e6e5;
}
.contract-card .left {
  width: 50%;
}
.contract-card .middle {
  width: 30%;
}
.contract-card .right {
  width: 20%;
  text-align: center;
}

.contract-card__restrictions {
  color: red;
  font-weight: bold;
}

.contract-card__title {
  margin: 10px 0;
  color: #1f1f1f;
}

.contract-card__location {
  font-style: italic;
  line-height: 25px;
}
.contract-card__location i {
  margin-right: 5px;
  color: #1abc9c;
}

.contract-card__date {
  font-weight: bold;
}

.contract-card__tags {
  display: flex;
  flex-wrap: wrap;
}

.footer-bg {
  width: 100%;
  background-color: #f2f5f4;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 250px;
}

.footer-top__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-top__column.right {
  text-align: right;
  max-width: 300px;
  align-items: flex-end;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
}
.footer-bottom span {
  font-weight: bold;
  margin-right: 5px;
}
.footer-bottom img {
  width: 70px;
  margin-right: 5px;
}

.tag-card {
  display: inline-block;
  color: white;
  background-color: #1abc9c;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;
}

.text-input {
  position: relative;
  width: 100%;
}

input[type=text] {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  box-sizing: border-box;
  transition: box-shadow 150ms ease-out;
  position: relative;
  border: 2px solid white;
  border-radius: 50px;
  background-color: transparent;
}
input[type=text].is-focused {
  border: 2px solid #1abc9c;
  transition: all 0.15s ease;
}
input[type=text]:placeholder {
  color: white;
}

label {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

#particles-js {
  box-shadow: 0 0 10px black;
  position: absolute;
  height: 600px;
  width: 100%;
  z-index: -1;
  background-color: #1f1f1f;
}

.homepage-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  height: 600px;
}
.homepage-header h1 {
  font-size: 75px;
}
.homepage-header p {
  margin-bottom: 40px;
}
.homepage-header .text-input {
  margin-bottom: 40px;
  max-width: 400px;
}

.homepage-particles {
  width: 100%;
  background-color: black;
}

.homepage-contracts {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
  padding-top: 50px;
  margin-bottom: 100px;
}
.homepage-contracts h1 {
  margin-bottom: 20px;
}

/*# sourceMappingURL=styles.css.map */
