// components - header
//

.header__container {
  position: fixed;
  width: 100%;
}

.header {
  color: white;
}

.header-content__wrapper {
  max-width: 1500px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}
