// components - text-editor
//

.text-editor__label {
  margin-bottom: 7px;
}

.text-editor__toolbar {
  border: 1px solid $light-green-dark !important;
  border-radius: 10px !important;
  margin-bottom: 10px !important;
}

.text-editor__wrapper {
  min-height: 200px;
  padding: 0 20px;
  border-radius: 10px;
  border: 1px solid $light-green-dark;
  margin-bottom: 7px;

  &:hover {
    cursor: text;
  }

  &.is-focused {
    border-color: $main-green;
  }

  &.is-filled {
    border-color: $main-green;
    background: url(/assets/img/shared/check.svg) no-repeat scroll 99% 10px;
    background-size: 20px;
  }

  &.is-errored {
    border-color: red;
  }
}

.text-editor__placeholder {
  color: $black-40;
  font-size: 14px;
}

// rdw
.rdw-editor-toolbar {
  background-color: transparent !important;
}
.rdw-dropdown-wrapper {
  background-color: transparent !important;
}

.rdw-option-wrapper {
  background-color: transparent !important;
}
