<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>New Project</title>
    <meta name="description" content="New Application" />
    <meta name="author" content="Darius Cosden" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="/dist/css/font-awesome/css/all.css" />
    <link rel="stylesheet" href="/dist/css/custom.css" />
    <link rel="stylesheet" href="/dist/css/styles.css" />
  </head>

  <body>
    <div id="app"><!-- react is built here --></div>

    <!-- scripts -->
    <script src="/dist/js/bundle.js"></script>
  </body>
</html>
