// components - tag-input
//

.ReactTags__tag {
  display: inline-block;
  color: white;
  background-color: $main-green;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;
}

.ReactTags__remove {
  margin-left: 5px;

  &:hover {
    cursor: pointer;
  }
}

.ReactTags__label {
  margin-bottom: 7px;
}

.ReactTags__tagInput {
  margin-bottom: 7px;
}

.ReactTags__placeholder {
  color: $black-40;
  font-size: 14px;
}

.ReactTags__suggestions {
  border: 1px solid $light-green-dark;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 0;
  transform: translateY(-25px);
  padding-top: 15px;
  margin-bottom: -25px;

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    list-style: none;
    padding: 10px 15px;
    margin: 0 !important;

    mark {
      color: $main-green;
      background: none;
      font-weight: 600;
    }
  }
}

.ReactTags__activeSuggestion {
  cursor: pointer;
}
